build_outputs_folder/climbing_detail_footprint.html
build_outputs_folder/climbing_index.html
build_outputs_folder/skiing_detail_footprint.html
build_outputs_folder/skiing_index.html
.DS_Store
.DS_Store
